<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../assets/css/styles.css?cachebust=1.2.0" type="text/css">

<link rel="stylesheet" href="../../assets/css/prism-atom-dark.css?cachebust=1.2.0" type="text/css">

<link rel="stylesheet" href="../../assets/css/ascetic.css?cachebust=1.2.0" type="text/css">

<link rel="stylesheet" href="../../css/forge.css?cachebust=1.2.0" type="text/css">


<title>Basic Modal | athenahealth</title>

</head>
<body>



<div class="fg_app">
  <header class="fg_l_header">
  <a class="fg_c_branding" href="../../index.html">
    <img src="../../assets/images/logo.svg" />
  </a>
  <nav class="fg_c_nav-top">
  <ul class="fg_c_nav-top__list">
    
      
    
      
        <li class="fg_c_nav-top__list-item">
          
          <a
            class="fg_c_nav-top__link "
            href="../../docs/guidelines/principles.html"
            title="Guidelines"
          >
            Guidelines
          </a>
        </li>
      
    
      
        <li class="fg_c_nav-top__list-item">
          
          <a
            class="fg_c_nav-top__link "
            href="../../docs/foundations/color.html"
            title="Foundations"
          >
            Foundations
          </a>
        </li>
      
    
      
        <li class="fg_c_nav-top__list-item">
          
          <a
            class="fg_c_nav-top__link "
            href="../../docs/components/button.html"
            title="Components"
          >
            Components
          </a>
        </li>
      
    
      
        <li class="fg_c_nav-top__list-item">
          
          <a
            class="fg_c_nav-top__link "
            href="../../docs/resources/downloads.html"
            title="Resources"
          >
            Resources
          </a>
        </li>
      
    
  </ul>
</nav>

</header>


  


    
    

<div class="Pen" data-behaviour="pen" id="pen-fc37e17c5d79279c8930ae18e9082256">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/modal-basic.html" title="Component preview">
            Basic Modal
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-fc37e17c5d79279c8930ae18e9082256">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/modal-basic.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-fc37e17c5d79279c8930ae18e9082256">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-fc37e17c5d79279c8930ae18e9082256-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-fc37e17c5d79279c8930ae18e9082256-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-fc37e17c5d79279c8930ae18e9082256-panel-context">Context</a>
        </li>
        
        
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-fc37e17c5d79279c8930ae18e9082256-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-fc37e17c5d79279c8930ae18e9082256-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-fc37e17c5d79279c8930ae18e9082256-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"height:280px"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Tempor aliquip exercitation culpa laboris ea Lorem id occaecat ipsum. Culpa laborum mollit ipsum esse commodo anim. Eiusmod eiusmod incididunt quis exercitation eiusmod consectetur exercitation amet.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Lorem ipsum tempor proident excepteur ut id consequat anim dolore. Nostrud tempor minim dolore laborum nisi veniam velit laborum sit non velit ut. In enim in voluptate consectetur cillum adipisicing velit ad ad. Nisi Lorem tempor anim sit ea duis
        aliqua id. Occaecat cupidatat non eiusmod ea minim proident. Labore adipisicing ipsum aute irure magna elit laborum elit sunt. Minim nisi consectetur consectetur commodo quis minim ex.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Sint minim voluptate consequat sit dolore magna voluptate laborum ipsum occaecat ipsum. Labore incididunt aute exercitation irure magna. Aute commodo exercitation eiusmod excepteur quis laboris tempor dolore fugiat laboris. Laborum ullamco exercitation
        irure et magna elit. Proident consectetur non consequat amet voluptate irure magna occaecat Lorem ipsum. Amet nisi cillum aliqua minim fugiat aliquip est dolor dolore labore id officia pariatur sunt. Id incididunt enim cillum minim aute.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fe_c_button fe_c_button--primary"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span>&gt;</span>Open Modal<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-fc37e17c5d79279c8930ae18e9082256-panel-view">
    <code class="Code Code--lang-javascript">
        <pre><span class="hljs-keyword">import</span> React, { Component } <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>;
<span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'@athena/forge'</span>;
<span class="hljs-keyword">import</span> loremIpsum <span class="hljs-keyword">from</span> <span class="hljs-string">'lorem-ipsum'</span>;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">ModalToggle</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">Component</span> </span>{
  <span class="hljs-keyword">constructor</span>(props) {
    <span class="hljs-keyword">super</span>(props);

    <span class="hljs-keyword">this</span>.state = { <span class="hljs-attr">shown</span>: props.shownByDefault };

    <span class="hljs-keyword">this</span>.showModal = <span class="hljs-keyword">this</span>.showModal.bind(<span class="hljs-keyword">this</span>);
    <span class="hljs-keyword">this</span>.hideModal = <span class="hljs-keyword">this</span>.hideModal.bind(<span class="hljs-keyword">this</span>);
    <span class="hljs-keyword">this</span>.completeModal = <span class="hljs-keyword">this</span>.completeModal.bind(<span class="hljs-keyword">this</span>);
  }

  showModal () {
    <span class="hljs-keyword">this</span>.setState({ <span class="hljs-attr">shown</span>: <span class="hljs-literal">true</span> });
  }

  hideModal () {
    <span class="hljs-keyword">this</span>.setState({ <span class="hljs-attr">shown</span>: <span class="hljs-literal">false</span> });
  }

  completeModal () {
    <span class="hljs-keyword">this</span>.setState({ <span class="hljs-attr">shown</span>: <span class="hljs-literal">false</span> });
  }

  render() {
    <span class="hljs-keyword">return</span> (
      &lt;div&gt;
        &lt;Button text="Open Modal" onClick={this.showModal} /&gt;
        &lt;Modal show={this.state.shown} headerText="Modal Header" onHide={this.hideModal} onPrimaryClick={this.completeModal}&gt;
          &lt;p&gt;This is example body text.&lt;/p&gt;
        &lt;/Modal&gt;
      &lt;/div&gt;
    );
  }
}

class ModalDefault extends Component {

  constructor(props) {
    super(props);
  }

  render(){

    return (
      &lt;div style={{ height: '280px' }}&gt;
        &lt;p&gt;{loremIpsum({ units: 'paragraphs', count: 1 })}&lt;/p&gt;
        &lt;p&gt;{loremIpsum({ units: 'paragraphs', count: 1 })}&lt;/p&gt;
        &lt;p&gt;{loremIpsum({ units: 'paragraphs', count: 1 })}&lt;/p&gt;
        &lt;ModalToggle shownByDefault={true} /&gt;
      &lt;/div&gt;
    );
  }

}

export default ModalDefault;</pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-fc37e17c5d79279c8930ae18e9082256-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"height"</span>: <span class="hljs-number">360</span>
}</pre>
            
        
    </code>
</div>

    
    




    
    <div class="Browser-panel" data-role="tab-panel" id="browser-fc37e17c5d79279c8930ae18e9082256-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@modal-basic</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/modal-basic.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/modal-basic.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">demos\modal\modal-basic.jsx</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-fc37e17c5d79279c8930ae18e9082256-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>



</div>




<script src="../../assets/clipboard.min.js?cachebust=1.2.0"></script>

<script src="../../assets/main.js?cachebust=1.2.0"></script>



</body>
</html>
