body {
  margin: 0;
}

table code {
  background-color: rgb(242, 242, 242);
  border-radius: 2px;
  display: inline-block;
  font-size: 15px;
  padding: 3px 5px;
}

.fg-text--code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  font-size: 15px;
  padding: 3px 5px;
}

.fg_preview--center {
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.fg_preview--center .fg_preview__demo-root {
  display: flex;
  justify-content: center;
  flex: 1;
}

.fg_preview-icon-grid__item {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  text-align: center;
  height: 100px;
  width: 90px;
  padding: 0 10px;
}
