

<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <link rel="stylesheet" href="../../css/forge.css"/>
    <link rel="stylesheet" href="../../css/demo.css" />
    <link rel="stylesheet" href="../../assets/css/preview.css" />

    <meta charset="utf-8"/>
    <meta name="referrer" content="origin"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <title></title>
  </head>

  <body>
    <script src="../../js/_vendor/react/react.development.js"></script>
    <script src="../../js/_vendor/react/react-dom.development.js"></script>
    <script src="../../js/demos.js"></script>

      <div class="fg_preview ">            <div class="fe_f_all fg_preview__demo-root" id="default"></div>          </div>          <script>                ReactDOM.render(                  React.createElement(                    Demos.TextareaSurvey,                    {"height":410}                  ),                  document.getElementById("default")                );              </script>
  </body>
</html>

